.home-comp{
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    
}
.home-anchor{
    text-decoration: none !important;
}

.search-comp{
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 18px;
}
.first-container{
    /*background-color: 	#111111;*/
    border-radius: 20px;
    padding: 10px;
    width: 20%;
    /*background-color: #111111;*/
    background: linear-gradient(to left, #1DB954, black);
  animation: gradientAnimation 5s infinite;
    
}
/*.first-container:hover{
    background-color: 	#111111;
}*/
.home-comp a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;

     /* Set the initial background color to white */
}
.home-comp a:hover {
    background-color: #222222; /* Grey background color on hover */
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 20px black; 
    border-color: black;
}

.search-comp a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
     /* Set the initial background color to white */
}
.search-comp a:hover {
    background-color: #222222; /* Grey background color on hover */
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 20px black; 
    border-color: #1DB954;
}
.library{
    font-family: "Helvetica", "Arial", sans-serif;
}

.second-container{
    /*background-color: 	#111111;*/
    border-radius: 20px;
    padding: 10px;
    width: 20%;
    /*background-color: #111111;*/
    background: linear-gradient(to left, #1DB954, black);
  animation: gradientAnimation 5s infinite;
    
}

.second-container:hover{
    background-color: 	#111111;
}
.library{
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.library > .library-link{
    border-radius: 20px;
    transition: background-color 0.3s ease;
    padding: 10px;
}

.library > .library-link:hover{
    background-color: #222222;
    border-radius: 20px;
    box-shadow: 0px 0px 20px #1DB954; 
    border-color: #1DB954;
}
.plus-icon{
    border-radius: 70px;
    /*background-color: 	#222222;*/
    transition: background-color 0.3s ease;
    
}
.plus-icon:hover{
    border-radius: 70px;
    background-color: #222222;
}
.playlist-button{
    border-radius: 20px;
    font-family: "Helvetica", "Arial", sans-serif;
    background-color: #111111;
    color: white;
    transition: background-color 0.5s ease;
    box-shadow: 0px 0px 10px transparent;
}
.playlist-button:hover{
    border-radius: 30px;
    background-color: #1DB954;
    /*background-color: #444444;*/
    border-color: #111111;
    color: black;
    box-shadow: 0px 0px 20px #1DB954; 
    border-color: #1DB954;
}
.album-button{
    border-radius: 20px;
    font-family: "Helvatica","Arial","sans-serif";
    color:white;
    background-color: #111111;
    transition: background-color 0.5s ease;
}
.album-button:hover{
    background-color: #1DB954;
    border-radius: 20px;
    color: black;
    border-color: black;
    box-shadow: 0px 0px 20px #1DB954; 
    border-color: #1DB954;
}
.artist-button{
    border-radius: 20px;
    background-color: #111111;
    color: white;
    font-family: "Helvatica","Arial","sans-serif";
    transition: background-color 0.5s ease;
}
.artist-button:hover{
    background-color: #1DB954;
    color: black;
    box-shadow: 0px 0px 20px #1DB954; 
    border-color: #1DB954;
}
.search-button{
    border-radius: 20px;
    background-color: #111111;
    color: white;
    font-family: "Helvatica","Arial", "sans-serif";
    transition: background-color 0.5s ease;
}
.search-button:hover{
    background-color: #1DB954;
    color:black;
    border-color: #1DB954;
    box-shadow: 0px 0px 20px #1DB954; 
}
.recently-played{
    font-family: "Helvatica","Arial","sans-serif";
    color: white;
    margin-left: 140px;
    cursor: pointer;
    transition: 0.5s ease;
    box-shadow: 0px 0px 5px transparent;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
    font-size: 18px;
}
/*.recently-played:hover{
    color: #1DB954;
    box-shadow: 0px 2px 5px rgba(29, 185, 84, 0.5);
    transform: translate(0px, -1px);
}*/
.song-button{
    height: 50px;
    width: 300px;
    cursor: pointer;
    
    
    
}
.liked-songs{
    background-color: #111111;
    transition: 0.5s ease;
    box-shadow: 0px 0px 5px transparent;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
    cursor: pointer;

}
.liked-songs:hover{
    color: #1DB954;
    box-shadow: 0px 2px 5px rgba(40, 196, 96, 11);
    transform: translate(0px, 1px);
}
@keyframes gradientAnimation {
    0% {
    background-position: 0% 0%;
    }
    100% {
    background-position: 100% 100%;
    }
}
.player{
    display: flex;
    align-items: center;
    color: white;
    background-color: #222222;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 57px;
    left: 0;
    border-radius: 5px;
    justify-content: center;
}